.header-menu {
  width: 35%;
  &__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    &-item {
      margin-right: 40px;
      font-weight: 400;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s ease;
      a {
        color: #fff;
        transition: 0.3s ease;
        &:hover {
          color: #c7a770;
        }
      }
      &:hover {
        color: #c7a770;
      }
    }
  }
}
